/* This was here before ---

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');

html {
  background: #0025ff;
  color: #fff;
}

#logo-PC {
  height: 50px;
  width: auto;
}

.primary-navigation {
  float: right;
  padding-top: 40px;
}

.secondary-navigation {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(77, 77, 77);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  border-right-style: solid;
}


.container--fw {
  width: 100%;
  background-color: #E6E6DD;
}

.header__shade--1 {
  height: 40px;
  background-color: #E6E6DD;
}

--- */

:root {
  --font-title: "Anton", sans-serif;
  --font-subtitle: "Antonio", sans-serif;
  --font-p: "Signika", serif;

  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 800;

  --fs-2: 2rem;
  --fs-3: 1.5rem;
  --fs-p: 1rem;

  --primary-clr: #127475;
  --secondary-clr: #CCB47B;
  --secondary-clr-light: #E6E6DD;
  --accent-clr: #FF7458;
  --text-clr: #2B2B2B;

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer)*2);
  --spacer-lg: calc(var(--spacer)*3);

  --br: 5px;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography rules*/

h2 {
  font-family: var(--font-title);
  color: var(--primary-clr);
  font-size: var(--fs-2);
  font-weight: var(--fw-n);
  margin-bottom: var(--spacer);
}

h3 {
  font-family: var(--font-subtitle);
  font-size: var(--fs-3);
  color: var(--text-clr);
  margin-bottom: var(--spacer-md);
}

p {
  font-family: var(--font-p);
  font-size: var(--fs-p);
  font-weight: var(--fw-n);
  line-height: calc(var(--fs-p)*1.5);
}

span {
  font-family: var(--font-subtitle);
  font-size: var(--fs-p);
  font-weight: var(--fw-n);
  color: var(--secondary-clr);
  font-style: italic;
}

body {
  background-color: #fff;
  width: 100%;
  color: #000;
}

/* the content starts under the navigation*/
.wrapper {
  position: absolute;
  top: 120px;
}

/* This makes content centered and less than 1084px wide*/
.container {
  position: relative;
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
}

/* Top navigation - header */

header {
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  position: fixed;
  z-index: 5;
}

.top-h {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-navigation {
  height: 30px;
  display: flex;
}

.top-h img {
  height: 100%;
  width: auto;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-family: var(--font-subtitle);
  font-weight: var(--fw-m);
  font-size: var(--fs-p);
}

li a {
  color: var(--text-clr);
  text-decoration: none;
  padding: 8px 16px;
  text-align: center;
}

li a:hover {
  color: var(--secondary-clr);
}

li {

  text-align: center;
  text-decoration: none;
}

.primary-navigation li:not(:last-child) {
  margin-right: 10px;
  border-right-style: solid;

}

.bottom-h {
  background-color: var(--secondary-clr-light);
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.nav-highlight {
  background: var(--primary-clr);
  color: white;
  height: 100%;
  text-align: center;
  padding: 3px 16px;
}

.nav-highlight:hover {
  cursor: cell;
  color: var(--secondary-clr);
}

/* News grid layout*/

.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: 300px;
  column-gap: var(--spacer);
  row-gap: var(--spacer-lg);
}

.big-news {
  grid-column: 3 / span 2;
}

.big-news-img {
  grid-column: 1 / span 2;
  background-image: url("./assets/floodplains.jpg");
  background-position: center;
  background-size: cover;
}

.news-grid>article {
  /* background-color: #f8f8f8; */
}