@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* This was here before ---
html {
  background: #0025ff;
  color: #fff;
}
  --- */
body {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
}

header {
  width: 100%;
  background-color: #f8f8f8;
  position: fixed;
  z-index: 5;
}

#wrapper {
  padding-top: 150px;
}

#logo-PC {
  height: 80px;
}

.primary-navigation {
  float: right;
}

.container {
  position: relative;
  max-width: 1084px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-h {
  height: 50px;
  background-color: #6a6a6a;
}

.big-news {}